# Environments
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Celery
celerybeat-schedule

# Database
db.sqlite3
db.sqlite3-journal

# IDEs
.idea/
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest
.pytest_cache/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*,cover
*.log
*.pot
*.py,cover
.tox/
